process {
    executor = 'slurm'
    clusterOptions = { "-A naiss2023-5-97 -p core -n 20 -t 10-00:00:00" }
    //errorStrategy = 'ignore'
    withName: rename_contigs {
        clusterOptions = { "-A naiss2023-5-97 -p core -n 4 -t 3-00:00:00" }
    }
    withName: assemble_soil {
        errorStrategy = 'ignore'
    }
    withName: rename_prokka_out {
        clusterOptions = { "-A naiss2023-5-97 -p core -n 4 -t 4-00:00:00" }
    }
}

executor {
    name = 'slurm'
    queueSize = 300
}

conda {
    enabled = true
    useMamba = true
    cacheDir= "/proj/fume/nobackup/private/jay/Freshwater_AMR/conda_envs"
}
